*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: url(../img/grunge-wood-texture-background.jpg);
    background-size:cover;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
main{
    margin-top: 10rem;
}
header{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    box-shadow: 0px 0px 1.5px 2px black; 
}
.pepper-bay-logo{
    background-image: url(../img/brown-wood-texture-abstract-background-600nw-755924149.webp);
    display:flex;
    justify-content: center;
    top: 0;
}
.pepper-bay-logo img{
    height: 10rem;
    width: 10rem;
}
nav{
    background-color: white;
    width: 100%;
    position: relative;
    top: 10.1rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0.6rem;
    padding-top: 1rem
}
nav ul a{
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-size: clamp(0.5rem,3vw,1rem);
}
nav ul a::after{
    content: '';
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transform-origin:center;
    transition: transform 0.25s ease-in-out;
}
nav ul a:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}
.video-container{
    display: flex;
    text-align: center;
    flex-direction: row wrap;
    width: 100%;
    height: 21rem;
    position: relative;
    flex-shrink: 0;
    z-index: 0;
}

/*object fit is the same as background-size:cover; for images. for other options just google or check in mdn website*/

.video-container video{
    width: 100%;
    z-index: 1;
    display: block;
    object-fit: cover;
}
/*z-index is used to put one element on top of another element. the onne with the highest z-index stays on the top*/
.video-container .best-kitchen{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 2;
    color: white;
    padding: 1rem;
    height: 100%;
    width: 100%;
}
.employee-importance{
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 10px;
    border: 1px double white;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
.employee-importance img{
    width: 100%;
    height: 100%
}
.content-chef,.taste-heading{
    display: flex;
    position: relative;
    }
.taste-heading::after{
    content: '';
    width: 60%;
    background-color: white;
    transform: scaleX(1);
    height: 2px;
    bottom: -1rem;
    position: absolute;
    transform-origin:left;
    transition: transform 0.25s ease-in-out;
    
    
}
@media screen and (min-width:768px)
{
    .employee-importance{
        flex-flow: row;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
    }
    .employee-importance img{
        width: 50%;
        padding-top: 0.5rem;
        border-radius: 15px;
    }
    .content-chef,.taste-heading{
        display: flex;
        padding-left:1rem;
    }
}
.timing-location{
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px double white;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
.web-btn{
    text-decoration: none;
    border: 1px double white;
    padding: 0.5rem;
    color: white;
    font-family: montserrat;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
}
.web-btn:hover{
    background-color: white;
    color: black;
    border: 1px double black;
}
.kahani{
    height: 1rem;
    width: 1rem;
}
.contact-card-sec{
    display:block;
    flex-flow: column wrap;
    padding: 1rem;
    margin: 10px;
    border: 1px double white;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
.contact-heading{
    text-align: center;
    display: block;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width:768px)
{
    .contact-info{
        flex-direction: row;
    }
    .contact-card:first-child{
        margin-bottom: 1rem;
    }
}
.cuisine-menu{
    display: flex;
    flex-direction:center;
    flex-flow: column wrap;
    padding: 1rem;
    position: relative;
    margin: 1rem;
    border: 1px double white;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
.cuisine-menu table th,td,tr{
    border: 1px solid white;
    padding: 1rem;
}
.cuisine-menu table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 35rem;
    word-break: break-word;
}
.cuisine-menu h1{
    text-align: center
}
.employee-importance-column{
    display: flex;
    flex-direction:center;
    flex-flow: column wrap;
    padding: 1rem;
    position: relative;
    margin: 1rem;
    border: 1px double white;
    color: white;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
}
.leftaligned{
    text-align: left;
}
.textbox{
    padding: 0.5rem;
    font-family: poppins;
    max-width: 55rem;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 0.5rem;
}
.payment-button{
    background-color: antiquewhite;
    color: black;
    font-family: montserrat;
}
.payment-button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white
}
.numbox{
    padding: 0.5rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
}
.input-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.mealtime,option{
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.mealtime option:hover,.mealtime option:focus-within{
    background-color: beige;
}